.OrderGrid .ag-header-cell {
    line-height: 18px;
    height: 22px;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
}

.OrderGrid .ag-header-cell.ag-focus-managed {
    line-height: 18px;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
}

.OrderGrid .ag-row .ag-cell {
    line-height: 12px;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.Grid12 .ag-header-cell {
    line-height: 18px;
    height: 22px;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
}

.Grid12 .ag-header-cell.ag-focus-managed {
    line-height: 18px;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
}

.ag-tick42x .ag-row .ag-cell {
    line-height: 22px;
    font-size: 14px;
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.active-orders-grid .ag-cell-data-changed {
    background-color: rgba(64, 192, 64, 0.5) !important;
}

.active-orders-grid .ag-row-odd:not(.ag-row-hover):not(.ag-row-selected) {
    background-color: rgba(255, 255, 255, 0.01) !important;
}

.active-orders-grid .ag-row-selected:not(.ag-row-hover) {
    background-color: rgba(64, 64, 255, 0.2) !important;
}

.active-orders-grid .ag-row-selected.ag-row-hover {
    background-color: rgba(64, 64, 255, 0.4) !important;
}

.og-cell-fills {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.3);
}

.og-cell-side {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
}

.dark .og-cell-buy {
    background-color: rgba(0, 0, 255, 0.5);
}

.dark .og-cell-green {
    background-color: rgba(0, 255, 0, 0.3);
}

.dark .cell-txt-green {
    color: rgba(0, 255, 0, 0.5);
}

.dark .og-cell-sell {
    background-color: rgba(255, 0, 0, 0.4);
}

.light .og-cell-buy {
    background-color: rgba(0, 0, 255, 0.2);
}

.light .og-cell-sell {
    background-color: rgba(255, 0, 0, 0.3);
}

.light .og-cell-green {
    background-color: rgba(0, 255, 0, 0.3);
}

.light .cell-txt-green {
    background-color: rgba(0, 255, 0, 0.3);
}

.og-cell-otherside {
    background-color: rgba(255, 192, 64, 0.4);
}
