.table-header {
    border: 1px solid black;
}

.table-data {
    background-color: #1e1e1e !important;
}

.table-data-white-theme {
    background-color: #e9e6e6;
}

.market-depth-table {
    table-layout: fixed;
}

.market-depth-container {
    background-color: #3f3f3f;
}

.instrument-movement-down {
    color: red;
}

.instrument-movement-up {
    color: green;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.float-right {
  float: right
}

.float-left {
  float: left
}

.market-depth-select .select__control .select__value-container {
    padding: 0px 0px 0px 4px;
}

.market-depth-select .select__control .select__indicator {
    padding: 0px 1px;
    width: 16px;
}

.market-depth-select .select__value-container {
    margin-top: .2rem;
    font-size: .73rem;
}

.market-depth-select .select__value-container .select__single-value {
    text-overflow: clip;
}

.market-depth-select .select__input-container {
    font-size: .73rem;
}