.nof-label {
  flex-grow: 1;
  max-width: 7em;
  padding-left: 15px;
}

.nof-label-disabled {
  opacity: .5
}

.nof-control-column {
  min-width: 20em      
}

textarea.form-control.nof-textarea {
  min-height: 1.75rem;
  line-height: 1rem;
  resize: vertical;
}
textarea.form-control.nof-textarea::-webkit-resizer {
  opacity: 1;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.nof-validation-element {
  border: 1px dotted;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}
.nof-validation-ul {
  margin: 0;
  padding-left: 1em;
}
